setuptools
coverage
entrypoints
flake8
flake8-html
importlib-metadata
isort
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
more-itertools
pluggy
py
pycodestyle
pyflakes
Pygments
pylint
pyparsing
pytest
pytest-cov
pytest-html
pytest-metadata
typed-ast
wcwidth
wrapt
zipp

######
# Don't give these versions numbers
# The version can break the build depending on python version
######
packaging
six